.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea
gradle/
local.properties
proguard/

# Log Files
*.log
# Files for the Dalvik VM
*.dex

# Java class files
*.class